/* Import fonts
@link https://fonts.google.com 
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('//db.onlinewebfonts.com/c/a8610ccb836452b18e7065c1bf74e5b6?family=Misfits');

/* Breakpoints vars */
@import './breakpoints';

/* Colors vars*/


/* Components styles */
@import '../components/App/app';
@import '../components/Home/home';
@import '../components/Footer/footer';
@import '../components/NotFound/notFound';

/* Base */

html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  color:white;
}

/* Upgrade */

*{
  box-sizing: border-box;
}
h1{
  font-size: 2rem;
  font-weight: bold;
  @include media('>mid'){
    font-size: 2.5rem;
  };
}
h2{
  margin: 1rem;
  font-size: 1.5rem;
  font-style: italic;
}
a{
  text-decoration: none;
  color: white;
}