.progress{
  min-height: 100vh;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include media('>mid'){
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
  };
  &__container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    @include media('>mid'){
      width: 100%;
      height: 100%;
      max-width: 1300px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    };
  }
  &__footer{
    padding-bottom: 2rem;
  }
}