.catcheye{
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
  writing-mode: vertical-rl;
  cursor: pointer;
  &.close{
    display: none;
  }
  @include media('>mid'){
    min-width: 500px;
    border: solid 2px red;
    color: red;
};
}