.catcheye{
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.3rem;
  writing-mode: vertical-rl;
  cursor: pointer;
  &.close{
    display: none;
  }
  &--vertical-description{
    
  }
  @include media('>phone'){
    min-width: 30px;
};
}