.home{
  height: calc(100vh - 10vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../../assets/images/dauntingtlk2.png');
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5rem;
  &__content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    &__text{
      &__title{
        margin: 2rem 0rem 1rem 0rem;
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
      }
      &__server{
        font-style: italic;
        text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
      }
    }
  }
}