.recruitment{
    height: 100%;
    padding-top: 7rem;
    &__container{
        border: solid 2px red;
        height: 100%;
        padding: 1rem;
        display:flex;
        flex-direction: column;
        &__card{
            border: solid 2px blue;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            &__top{
                border: solid 2px red;
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                &__img{
                }
                &__class{
                    font-size: 1.3rem;
                    text-align: center;
                }
            }
            &__bot{
                border: solid 2px yellow;
                &__spec{
                    border: solid 2px green;
                    &__container{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border: solid 2px green;
                        padding: 1rem
                    }
                }
            }
            .close{
                display: none;
            }
            
        }
    }
}