.recruitment{
    height: 100%;
    padding-top: 7rem;
    @include media('>mid'){
        display: flex;
        flex-direction: column;
        align-items: center;
    };
    &__container{
        height: 100%;
        padding: 1rem;
        display:flex;
        flex-direction: column;
        @include media('>mid'){
            width: 100%;
            height: 100%;
            max-width: 1300px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        };
    }
}